﻿@{
    Layout = "~/Views/Shared/AnonimoLayout.cshtml";
}
<body id="LoginForm">
    <div class="container">
        <h1 class="form-heading">Ingresar</h1>
        <div class="login-form">
            <div class="main-div">
                <div class="panel">
                    <h2>Login</h2>
                    <p>Ingrese su email y contraseña</p>
                </div>
                @using (Html.BeginForm("validarLogin", "Login", FormMethod.Post, new { id = "loginForm" }))
                {
                    if (ViewBag.url != null)
                    {
                        <input type="hidden" name="urlRedirect" value="@ViewBag.url" /> 
                    }
                <div class="form-group">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese email" required />          
                </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Ingrese contraseña" required/>                          
                    </div>
                        <div class="form-group row">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="soyProfesor" id="soyProfesor" value="true"> Soy profesor
                                    <input type="hidden" name="soyProfesor" id="soyProfesor" value="false">
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" name="Enviar" id="send" value="Enviar">Login</button>
                <div id="datosInvalidos" style="display: none;">
                    <p class="text-danger"> Email y/o Contraseña inválidos </p>
                </div>
                }

                </div>
            </div>
        </div>
    </body>
@section scripts{
    <script>
        if("@TempData.ContainsKey("datosInvalidos")" == "True")
            {
                $("#datosInvalidos").show();
        };
        $("#loginForm").validate({
            lang: 'es'
        });
        </script>
     }
