﻿
@{
    Layout = "~/Views/Shared/MenuProfesor.cshtml";
    int ultimoNro = ViewBag.ultimoNro + 1;
}
<form action="/Profesor/altaPregunta" method="POST" id="formularioPregunta">
    <input type="hidden" name="idProfesor" class="col-md-8" value="@HttpContext.Current.Session["id"].ToString()" />
    <div class="form-group">
        <label for="nro" class="col-md-3">Nro</label>
        <input type="number" name="nro" class="col-md-8" value="@ultimoNro" required />
    </div>
    <div class="form-group">
        <label for="clase">Clase</label>
        <select name="clase" class="form-control">
            @foreach (Clase clase in ViewBag.clases)
            {
                <option value="@clase.IdClase">@clase.Nombre</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Tema</label>
        <select name="tema" class="form-control">
            @foreach (Tema tema in ViewBag.temas)
            {
                <option value="@tema.IdTema">@tema.Nombre</option>
            }
        </select>
    </div>
    <input type="checkbox" id="checkboxFechas" /> Ingresar fechas
    <div id="fechas" style="display: none;">
        <div class="form-group">
            <label for="disponibleDesde">Disponible Desde</label>
            <input type="datetime-local" name="disponibleDesde" class="form-control" id="disponibleDesde"/>
        </div>
        <div class="form-group">
            <label for="disponibleHasta">Hasta</label>
            <input type="datetime-local" class="form-control" name="disponibleHasta" />
        </div>
        <span id="erroresFecha"></span>
    </div>
    <!-- span class="text-danger" id="errorDisponibleDesde">Ingrese una fecha válida</span>-->
    <div class="form-group">
        <label for="pregunta">Pregunta(*)</label>
        <textarea name="pregunta" class="form-control" required></textarea>
    </div>
    <input type="submit" class="btn btn-info" />
</form>
@section scripts{
    <script>
        $(document).ready(function () {

                    jQuery.validator.addMethod("greaterThan",
        function (value, element, params) {

            if (!/Invalid|NaN/.test(new Date(value))) {
                return new Date(value) > new Date($(params).val());
            }

            return isNaN(value) && isNaN($(params).val())
                || (Number(value) > Number($(params).val()));
        }, 'La fecha de inicio debe ser menor a la fecha de fin');
                })

            $("#formularioPregunta").validate({
                lang: 'es',
                rules: {
                   disponibleHasta: { greaterThan: "#disponibleDesde" }
                }
            });


        $("#checkboxFechas").on("click", function () {
            if ($('#checkboxFechas').prop('checked')) {
                $("#fechas").show("fast");
            } else {
                $("#fechas").hide("fast");
            }
        })

    </script>
}