﻿@{    Layout = "~/Views/Shared/MenuProfesor.cshtml";
}
    <hgroup>
        <h1>Error.</h1>
        <h2>@TempData["respuesta"].ToString()</h2>
        <a href="/Profesor/Inicio">Volver</a>
    </hgroup>


