﻿
@{
    Layout = "~/Views/Shared/MenuProfesor.cshtml";
    ViewBag.Title = "Evaluar";
    Pregunta pregunta = ViewBag.pregunta;
    RespuestaAlumno respuestaAEvaluar = null;
    int i = 0;
}
@section head
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

}

<div class="container-fluid">
    <div>
        <p>@pregunta.Clase.Nombre - @pregunta.Tema.Nombre</p>
        <h1>@pregunta.Nro - @pregunta.Pregunta1</h1> 
        <p>(@pregunta.FechaDisponibleDesde - @pregunta.FechaDisponibleHasta)</p>
        <div class="row">
            <div class="col-lg-12 my-3">
                <div class="pull-right">
                    <div class="btn-group">
                        <a href="@Url.Action("Evaluar", "Profesor")" class="btn btn-default" id="todas">
                            Todas
                        </a>
                        <a href="@Url.Action("Evaluar", "Profesor")?filtro=0" class="btn btn-warning" id="sinCorregir">
                            Sin corregir
                        </a>
                        <a href="@Url.Action("Evaluar", "Profesor")?filtro=1" class="btn btn-success" id="correctas">
                            Correctas
                        </a>
                        <a href="@Url.Action("Evaluar", "Profesor")?filtro=2" class="btn btn-info" id="regular">
                            Regular
                        </a>
                        <a href="@Url.Action("Evaluar","Profesor")?filtro=3" class="btn btn-danger" id="mal">
                            Mal
                        </a>
                    </div>
                </div>
            </div>
        </div>

    <table class="table table-sm" id="tabla">
        <thead>
            <tr>
                <th scope="col" class="text-center"></th>
                <th scope="col" class="text-center"></th>
                <th scope="col" class="text-center"></th>
                <th scope="col" class="text-center"></th>
                @if (!ViewBag.haySinCalificar && !ViewBag.hayMejorRespuesta)
                {
                <th scope="col" class="text-center"></th>
                }
                <th scope="col" class="text-center"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (RespuestaAlumno respuesta in ViewBag.respuestas)
            {
                <tr>
                    <th class="text-center">@respuesta.FechaHoraRespuesta</th>
                    <th class="text-center">@respuesta.Alumno.Nombre  @respuesta.Alumno.Apellido</th>
                    <th class="text-center">@respuesta.Respuesta</th>
                    <th class="text-center">@if (@respuesta.IdResultadoEvaluacion != null)
                    {
                        @respuesta.ResultadoEvaluacion.Resultado
                        }<th>
                    @if (!ViewBag.haySinCalificar && !ViewBag.hayMejorRespuesta) {
                    <th class="text-center"><a href="@Url.Action("MarcarMejorRespuesta","Profesor")/@respuesta.IdRespuestaAlumno" class="btn">Marcar como mejor respuesta</a></th>
                    }
                    @if (respuesta.IdProfesorEvaluador == null && i==0)
                    {
                    <th class="text-center"><a href="#evaluar" rel="modal:open" class="btn">Evaluar</a></th>
                        respuestaAEvaluar = respuesta;
                        i++;
                    }
                </tr>
            }
        </tbody>
    </table>
        <div id="evaluar" class="modal">
           @if(respuestaAEvaluar != null) { 
            <h1>Evaluando respuesta</h1>
            <p>@respuestaAEvaluar.Respuesta</p>
            <form action="@Url.Action("Corregir", "Profesor")" method="POST">
                <input type="hidden" value="@respuestaAEvaluar.IdRespuestaAlumno" name="idRespuestaAlumno"/>
                <input type="hidden" value="@Session["id"]" name="idProfesor"/>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-success">
                        <input type="radio" value="1" name="calificacion"/>Correcta
                    </label>
                    <label class="btn btn-warning">
                        <input type="radio" value="2" name="calificacion" />Regular
                    </label>
                    <label class="btn btn-danger">
                        <input type="radio" value="3" name="calificacion" />Mal
                    </label>
                </div>
                <input type="submit" class="btn btn-info"/>
            </form>
                <a href="#" rel="modal:close">Cerrar</a>
           }
</div>
</div>
    </div>

@section scripts
{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script>
    $(document).ready( function () {
        $('#tabla').DataTable({
            "drawCallback": function (settings) {
                $("#tabla thead").remove();
            }
        });
    } );
    </script>
}