﻿@using tpweb3.Dao;

@{
    Layout = "~/Views/Shared/MenuAlumno.cshtml";
}

<div class="container">
    <div>
        <a class="btn btn-light text-dark border border-secondary" href="@Url.Action("Preguntas","Alumno",new { filtro = "Todas" })">Todas</a>
        <a class="btn btn-dark text-white" href="@Url.Action("Preguntas","Alumno",new { filtro = "Sin Corregir" })">Sin Corregir</a>
        <a class="btn btn-success" href="@Url.Action("Preguntas","Alumno",new { filtro = "Correcta" })">Correctas</a>
        <a class="btn btn-warning" href="@Url.Action("Preguntas","Alumno",new { filtro = "Regular" })">Regular</a>
        <a class="btn btn-danger " href="@Url.Action("Preguntas","Alumno",new { filtro = "Mal" })">Mal</a>



        <hr />
        @foreach (Pregunta pregunta in ViewBag.preguntas)
        {
        <div class="row mt-5 mb-5">
            <h6 class="col-12">@pregunta.Clase.Nombre - @pregunta.Tema.Nombre  ---  Hasta(@pregunta.FechaDisponibleHasta)</h6>
            <h4 class="col-8">@pregunta.Nro. @pregunta.Pregunta1</h4>


            @{
                RespuestaAlumno respuesta = new RespuestaAlumno();
                respuesta = RespuestaAlumnoDao.mostrarResultado(pregunta.IdPregunta, ViewBag.alumno.IdAlumno);
                ResultadoEvaluacion resultado = new ResultadoEvaluacion();
                if (respuesta != null)
                {


                    if (respuesta.ResultadoEvaluacion == null)
                    {
                        <a class="col-1" href="@Url.Action("VerRespuesta","Alumno",new {id = pregunta.IdPregunta })">Ver</a><p class="col-md-3">Sin Evaluar</p>
                    }
                    else
                    {
                       

                        if (respuesta.ResultadoEvaluacion.Resultado == "Mal")
                        {
                            <a class="col-1" href="@Url.Action("VerRespuesta","Alumno",new {id = pregunta.IdPregunta })">Ver</a><p class="text-danger col-md-3"> @respuesta.ResultadoEvaluacion.Resultado</p>
                        }
                        if (respuesta.ResultadoEvaluacion.Resultado == "Regular")
                        {
                            <a class="col-1" href="@Url.Action("VerRespuesta","Alumno",new {id = pregunta.IdPregunta })">Ver</a> <p class="text-warning col-md-3"> @respuesta.ResultadoEvaluacion.Resultado | @respuesta.Orden º | @respuesta.Puntos pts</p>
                        }
                        if (respuesta.ResultadoEvaluacion.Resultado == "Correcta") {

                            if (respuesta.MejorRespuesta == true && respuesta.ResultadoEvaluacion.Resultado== "Correcta")
                            {
                                <a class="col-1" href="@Url.Action("VerRespuesta","Alumno",new {id = pregunta.IdPregunta })">Ver</a><p class="text-success col-md-3"> @respuesta.ResultadoEvaluacion.Resultado | @respuesta.Orden º | @respuesta.Puntos pts | Mejor Respuesta  </p>

                            }
                            else 
                            {
                                <a class="col-1" href="@Url.Action("VerRespuesta","Alumno",new {id = pregunta.IdPregunta })">Ver</a><p class="text-success col-md-3"> @respuesta.ResultadoEvaluacion.Resultado | @respuesta.Orden º | @respuesta.Puntos pts </p>
                            }
                        }
                    }
                }
                else
                {
                    if (pregunta.FechaDisponibleDesde <= DateTime.Now && pregunta.FechaDisponibleHasta >= DateTime.Now)
                    {
                        <a class="col-1 col-md-3" href="@Url.Action("Responder", "Alumno", new { id = pregunta.IdPregunta })">Responder</a>
                    }
                    else
                    {
                        <span> Ya no se puede responder. </span>
                    }
                }
            }

        </div>
        }

    </div>
</div>